/* .contain{
    margin-left: 10%;

    margin-top: 5%;

    
}
.box-right{
    margin-left: 10%;
    width: 50px;
}
body{
    background: rgba(209, 208, 208, 0.308);
}
.containn{
margin-left: 10%;
background: rgba(55, 56, 56, 0.466);
margin-right: 61.5%;
}
h1{
margin-left: 30%;

}
.textt{
    background-color: black;
} */

input[type=submit]{
    border: none;
    background: blue;
    cursor: pointer;
    border-radius: 10px;
    margin-top:-33px;
    width: 200px;
    padding: 6px;
    margin-left: 35%;
    }
    .nav {
        background-color: rgb(167, 36, 162);
        list-style-type: none;
        text-align: center;
        padding:-10px;
        margin-top: 2%;
      }
      
      .nav li {
        display: inline-block;
        font-size: 20px;
        padding: 15px;
      }
      a {
          size: 50x;
          font-family: sans-serif;
          color: black;
    
      }
      a:hover {
        background-color: rgb(241, 30, 30);
      
 