.navbar {
   
    background-color: #555;
    overflow: auto;
    padding:1%;
    margin: -1%;
  }
  

  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;

  }
  .navbar a:hover {
    background-color:pink;
  }
  .navbar{
     width: 100%;
  }
